*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gray;
}

.navbar{
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays on top */
}

.navbar a{
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

.dropdown {
    position: relative;
}

.navbar a:hover{
    background-color: gray;
    color: black;
}

/* Hidden by Default */
.navbar .dropdown .dropdown-content{
    display: none;
}

/* Show on Hover */
.navbar .dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content {
    display: none;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 50px; /* Adjust as needed */
    z-index: 1001; /* Ensure it stays on top */
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover{
    background-color: gray;
}

h1 {
    color: white;
    text-align: center;
    margin: 20px 0;
    font-size: 54px;
}

p {
    color: white;
    text-align: justify;
    margin: 20px 20px;
    font-size: 36px;
}
