*{
    margin: 0px auto;
}
.main{
    height: auto;
    width:1000px;
    margin: 0px auto;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 30px;
}

.one, .two, .three, .four, .five{
    height: 200px;
    margin: 10px;
    background-color: rgb(109, 109, 109);
    border-radius: 20px ;
    overflow: hidden;
}

.two_a, .two_b{
    height: 200px;
    width: 486px;
    background-color: rgb(0, 0, 0);
    border:2px rgb(255, 255, 255) solid;
    border-radius: 20px;
    float: left;
}


.three_a, .three_b, .three_c{
    height: 200px;
    width: 33.1%;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 1px rgb(255, 255, 255) solid;
    float: left;
}

.four_a, .four_b, .four_c, .four_d{
    height: 200px;
    width: 243px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 1px rgb(255, 255, 255) solid;
    float: left;
}

.five_a, .five_b, .five_c, .five_d, .five_e{
    height: 200px;
    width: 194px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    border: 1px rgb(255, 255, 255) solid;
    float: left;
}
