.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
.box1, .box2, .box3, .box4, .box4, .box5, .box6{
    width: 100%;
    height: 100px;
    background-color: #f1f1f1;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

@media only screen and (min-width: 600px){
    .box1, .box2, .box3, .box4, .box4, .box5, .box6{
        background-color: gray;
    }
}

.box7{
    width: 150px;
    height: 150px;
    background-color: #f1f1f1;
    margin-top: 20px;
    padding: 20px;
    border-radius: 50%;
    color: whitesmoke;
}

.box7:hover{
    background-color: gray;
    color: black;
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
    transition: 1s;
}