h1 {
    font-size : 30px;
    text-align : center;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    margin: 20px;
    background-color: gray;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;      
}
p {
    font-size : 20px;
    text-align : justify;
    color: green;
    margin: 20px;
    background-color: lightgray;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px; 
    text-indent: 50px;
}